<link rel="stylesheet" href="../../assets/css/main.css">
<header class="header">
  <h1 class="logo">TESO</h1>
  <nav class="nav">
    <ul>
      <li><a href="#/">Inicio</a></li>
      <li><a href="#/inventario">Inventario</a></li>
      <li><a href="#/compras">Compras</a></li>
      <li><a href="#/gastos">Gastos</a></li>
      <li><a href="#/proveedores">Proveedores</a></li>
      <li><a href="#/usuarios">Usuarios</a></li>
      <li><a href="#/login">Cerrar sesión</a></li>
    </ul>
  </nav>
</header>
