<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>modal-base</title>
  <link rel="stylesheet" href="../../assets/css/main.css">
</head>
<body>
  <div id="modal-base" class="modal hidden">
    <div class="modal-content">
      <span id="modal-close" class="modal-close">&times;</span>
      <div id="modal-body">
        <!-- Contenido del modal se inyectará aquí -->
      </div>
    </div>
  </div>
  <script type="module" src="../assets/js/components/modal-base.js"></script>
</body>
</html>