<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Sidebar</title>
  <link rel="stylesheet" href="../../assets/css/main.css" />
</head>
<body>
  <div id="app">
    <aside class="sidebar">
      <ul>
        <li><a href="#/dashboard">Inicio</a></li>
        <li><a href="#/inventario">Inventario</a></li>
        <li><a href="#/compras">Compras</a></li>
        <li><a href="#/gastos">Gastos</a></li>
        <li><a href="#/proveedores">Proveedores</a></li>
        <li><a href="#/usuarios">Usuarios</a></li>
      </ul>
    </aside>
  </div>
  <script type="module" src="../assets/js/components/sidebar.js"></script>
</body>
</html>
