<!DOCTYPE html>
<html lang="es">
<link rel="stylesheet" href="../../assets/css/views/editar.css">
<head>
  <meta charset="UTF-8">
  <title>Editar Proveedor</title>
</head>
<body>
  <h2>Editar Proveedor</h2>
  <form id="form-editar-proveedor">
    <input type="text" name="nombre" placeholder="Nombre" required />
    <input type="email" name="contacto" placeholder="Correo de contacto" required />
    <input type="text" name="productos_suministrados" placeholder="Productos suministrados" required />
    <button type="submit">Guardar Cambios</button>
  </form>
  <script type="module" src="../../assets/js/views/proveedores.js"></script>
</body>
</html>
