<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Listado de Gastos</title>
</head>
<link rel="stylesheet" href="../../assets/css/views/listar.css">
<body>
  <h2>Listado de Gastos</h2>
  <button onclick="window.location.href='registrar.html'">Registrar Gasto</button>
  <table border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>Descripción</th>
        <th>Monto</th>
        <th>ID Compra</th>
      </tr>
    </thead>
    <tbody id="tabla-gastos"></tbody>
  </table>

  <script type="module" src="../../assets/js/views/gastos.js"></script>
</body>
</html>
