<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Registrar Gasto</title>
  <link rel="stylesheet" href="../../assets/css/views/registrar.css" />
</head>
<body>
  <h2>Registrar Gasto</h2>

  <form id="form-gasto">
    <label for="descripcion">Descripción:</label>
    <input name="descripcion" required />

    <label for="monto">Monto:</label>
    <input type="number" name="monto" required />

    <label for="compra_id">ID Compra:</label>
    <input type="number" name="compra_id" required />

    <button type="submit">Registrar</button>
  </form>

  <script type="module" src="../../assets/js/views/gastos.js"></script>
</body>
</html>
