<link rel="stylesheet" href="../assets/css/views/dashboard.css">
<section class="dashboard">
  <h2>Bienvenido al Panel Principal</h2>

  <div class="dashboard-cards">
    <div class="card">
      <h3>Inventario</h3>
      <p>Consulta y gestiona los productos.</p>
    </div>
    <div class="card">
      <h3>Compras</h3>
      <p>Revisa las compras realizadas.</p>
    </div>
    <div class="card">
      <h3>Gastos</h3>
      <p>Controla y analiza los gastos.</p>
    </div>
    <div class="card">
      <h3>Usuarios</h3>
      <p>Administra los usuarios del sistema.</p>
    </div>
  </div>
</section>
