<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Listado de Compras</title>
  <link rel="stylesheet" href="../../assets/css/views/listar.css" />
</head>
<body>
  <h2>Listado de Compras</h2>
  <button onclick="window.location.hash = '#/compras/registrar'">Registrar Compra</button>
  <table border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>ID Usuario</th>
        <th>ID Proveedor</th>
      </tr>
    </thead>
    <tbody id="tabla-compras"></tbody>
  </table>
  <script type="module" src="../../assets/js/views/compras.js"></script>
</body>
</html>
