<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Listado de Usuarios</title>
  <link rel="stylesheet" href="../../assets/css/views/listar.css">
</head>
<body>
  <h2>Listado de usuarios</h2>
  <button onclick="window.location.hash = '#/usuarios/registrar'">Registrar usuario</button>

  <table border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Rol</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody id="tabla-usuarios"></tbody>
  </table>
  <script type="module" src="../../assets/js/views/usuarios.js"></script>
</body>
</html>
