<!DOCTYPE html>
<html lang="es">
<link rel="stylesheet" href="../../assets/css/views/editar.css">
<head>
  <meta charset="UTF-8">
  <title>Editar compra</title>
</head>
<body>
  <h2>Editar Compra</h2>
  <form id="form-editar-compra">
    <input type="text" name="proveedor" placeholder="Proveedor" required />
    <input type="date" name="fecha" required />
    <textarea name="detalle" placeholder="Detalle de la compra" required></textarea>
    <button type="submit">Guardar cambios</button>
  </form>
  <script type="module" src="../../assets/js/views/compras.js"></script>
</body>
</html>
