<!DOCTYPE html>
<html lang="es">
<link rel="stylesheet" href="../../assets/css/views/listar.css">
<head>
  <meta charset="UTF-8">
  <title>Inventario</title>
</head>
<body>
  <h2>Listado de inventario</h2>
  <button onclick="window.location.hash = '#/inventario/registrar'">Agregar producto</button>
  <table border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Ubicación</th>
        <th>ID Compra</th>
      </tr>
    </thead>
    <tbody id="tabla-inventario"></tbody>
  </table>
  <script type="module" src="../../assets/js/views/inventario.js"></script>
</body>
</html>
