<!DOCTYPE html>
<html lang="es">
<link rel="stylesheet" href="../../assets/css/views/registrar.css">
<head>
  <meta charset="UTF-8">
  <title>Registrar Producto</title>
</head>
<body>
  <h2>Agregar Producto al Inventario</h2>
  <form id="form-inventario">
    <input type="text" name="producto" placeholder="Producto" required />
    <input type="number" name="cantidad" placeholder="Cantidad" required />
    <input type="text" name="ubicacion" placeholder="Ubicación" required />
    <input type="number" name="compra_id" placeholder="ID de Compra" required />
    <button type="submit">Registrar</button>
  </form>

  <script type="module" src="../../assets/js/views/inventario.js"></script>
</body>
</html>
